.contacts {
  display: flex;
  justify-content: center;

  & img {
    width: 32px;
  }
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.ytbn,
.insta,
.cara {
  transition: filter 0.5s ease;
}

.icons {

}

.icon:hover .ytb {
  filter: brightness(0) saturate(100%) invert(19%) sepia(100%) saturate(3100%)
    hue-rotate(-50deg) brightness(90%) contrast(100%);
}

.icon:hover .insta {
  filter: brightness(0) saturate(100%) invert(19%) sepia(100%) saturate(3500%)
    hue-rotate(-50deg) brightness(90%) contrast(100%);
}

.icon:hover .cara {
  filter: brightness(0) saturate(100%) invert(19%) sepia(100%) saturate(3100%)
    hue-rotate(-50deg) brightness(90%) contrast(100%);
}

.other {
  display: flex;
  justify-content: center;
}

.pad {
  width: 300px;
    margin: 10px;
    padding: 12px 8px;
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    text-align: center;
}

.pad:hover {
  color: var(--cor-secundaria);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--cor-destaque);
  font-size: 18px;
  text-transform: uppercase;
}

li {
  list-style-type: none;
  font-family: "Navbar", cursive;
}